

# Ignore all user-specific files and IDE configuration files
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore build directories and files generated in sub-projects
BankingAPI.DataAccess/bin/
BankingAPI.DataAccess/obj/
BankingAPI.Models/bin/
BankingAPI.Models/obj/
BankingAPI.WebAPI/bin/
BankingAPI.WebAPI/obj/

# Ignore ASP.NET Core environment settings files
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
secrets.json

# Ignore Rider-specific files and folders
.idea/
*.sln.iml

# macOS system files
.DS_Store

